<p style="color: green"><%= notice %></p>

<%= render @cite %>

<div>
  <%= link_to "Edit this cite", edit_cite_path(@cite) %> |
  <%= link_to "Back to cites", cites_path %>

  <%= button_to "Destroy this cite", @cite, method: :delete %>
</div>
