<div>
  <div class="ranking_page_font">
    <h1 class="ranking_page_title">Best of the Best</h1>
    <h2 class="ranking_page_subtitle">Best Cities in the United States</h2>
    <h4 class="ranking_page_subtitle">(With Top 50 Population)</h4>
    <div class="RankingPage_rankings__E4m+r">
      <% @cities.each do |city| %>
        <div class="ranking_box">
          <div class="ranking_div">
            <%= image_tag city.image_name, class: "ranking_profile_image" %>
            <div class="info">
              <div class="name"><%= city.name %></div>
              <div class="profile_text">Record: <%= city.wins %>-<%= city.loses %></div>
              <div class="profile_text">Elo: <%= city.elo %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>