<!DOCTYPE html>
<html>
  <head>
    <title>Best of the Best</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
     <div class="link_container">
       <div class="top_links">
          <%= link_to "Vote", new_comparison_path, class: "link_box" %>
          <%= link_to "Rankings", cities_index_path, class: "link_box" %>
        </div>
        <%= yield %>
      </div>
  </body>
</html>
